/* Set All Style Variables Here */

$black-color: #4F4F4F;
$secondary-color: rgba(0, 0, 0, 0.37);
$blue: #3A504E;
$white: #F1E8D6;
$gray: #707070;
$green: #53a49b;

$header-size: 73px;
$title-size: 52px;

$font:  normal normal normal 52px/68px Lato;


/* Set all mixins Here */

@mixin df($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin dcc($direction: row) {
    @include df($direction);
    align-items: center;
    justify-content: center;
} 

@mixin dbc($direction: row) {
    @include df($direction);
    justify-content: space-between;
    align-items: center; 
}

@mixin dac($direction: row) {
    @include df($direction);
    justify-content: space-around;
    align-items: center;
}

@mixin dxc($direction: row) {
    @include df($direction);
    align-items: center;
}

@mixin dxs($direction: row) {
    @include df($direction);
    align-items: flex-start;
} 

@mixin dxe($direction: row) {
    @include fd($direction);
    align-items: flex-end;
}

@mixin img() {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}