@use '../../utils/variables.scss';

.link {
    font-size: 14px;
    color: variables.$white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}