@use "../../utils/variables.scss";

.progress-container {
  width: 250px;
  height: 40px;
  @include variables.dcc(row);

  .left {
    width: 180px;
    height: 10px;
    border: 5px solid variables.$blue-color;
    border-radius: 50px;
    transform: translateX(20px);
    z-index: 0;

    .progress {
      height: 100%;
      background-color: variables.$blue-color;
      border-radius: 4px;
    }
  }

  .right {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: variables.$blue-color;
    @include variables.dcc(row);
    z-index: 10;

    h4 {
      color: white;
      letter-spacing: 3px;
      margin: 0;
    }
  }
}
