@use "../../utils/variables";

.title {
  position: relative;
  @include variables.dcc(row);
  width: 100%;

  h1 {
    font-size: 32px;
    color: variables.$primary-color;
    position: relative;
    text-transform: uppercase;
    font-family: variables.$font;
    font-weight: 400;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 150px;
      height: 4px;
      background-color: variables.$primary-color;
      border-radius: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      transform: translateX(-120%);
    }

    &::after {
      transform: translate(20%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .title h1 {
    font-size: 35px;

    &::after,
    &::before {
      width: 60px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .title h1 {
    font-size: 28px;

    &::after,
    &::before {
      width: 50px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .title h1 {
    font-size: 25px;

    &::after,
    &::before {
      width: 40px;
    }
  }
}
