@use "../../utils/variables.scss";

#choose {
  position: relative;
  width: 100%;
  height: 100vh;
  @include variables.dcc(row);

  .left-container {
    width: 65%;
    height: 100%;
    @include variables.dac(column);

    .img {
      width: 250px;
      height: 80px;
      border: 2px solid red;
      @include variables.pointer();
    }

    h3 {
      font-weight: 400;
      font-size: 28px;
      color: variables.$gray-color;
      margin: 0;
    }

    .button-container {
      width: 60%;
      @include variables.dac(row);

      .card-button {
        width: 222px;
        height: 222px;
        box-shadow: 0px 3px 6px variables.$blue-shadow1;
        border-radius: 39px;
        @include variables.dcc(column);
        @include variables.pointer();

        &:hover {
          box-shadow: 0px 6px 10px variables.$blue-shadow2;
        }

        .button-img {
          width: 50px;
          height: 50px;
          @include variables.img();
          filter: brightness(0) saturate(100%) invert(68%) sepia(21%)
            saturate(733%) hue-rotate(126deg) brightness(91%) contrast(84%);
        }

        p {
          font-size: 20px;
          text-transform: uppercase;
          font-family: variables.$font;
          font-weight: 300;
          margin-top: 3rem;
          margin-bottom: 0;
        }
      }
    }

    .progress-container {
      align-self: flex-end;
      margin-right: 4rem;
    }
  }

  .right-img {
    width: 35%;
    height: 100%;
    @include variables.img(cover);
  }
}

@media only screen and (max-width: 1300px) {
  #choose {
    .left-container .button-container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 780px) {
  #choose {
    .left-container {
      width: 100%;
    }
    .right-img {
      display: none;
    }
  }
}

@media only screen and (max-width: 580px) {
  #choose {
    .left-container {
      .button-container .card-button {
        width: 170px;
        height: 170px;

        .button-img {
          width: 40px;
          height: 40px;
        }

        p {
          font-size: 18px;
        }
      }

      .progress-container {
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  #choose {
    .left-container {
      .button-container {
        @include variables.dbc(column);
        height: calc(340px + 2rem);
      }
    }
  }
}
