@use "../../utils/variables.scss";

#clientInfo {
  width: 100%;
  height: 100vh;
  @include variables.dcc(row);

  .left-img {
    width: 30%;
    height: 100%;
    @include variables.img(cover);
  }

  .right-container {
    width: 70%;
    height: 100%;
    @include variables.dac(column);

    .top {
      position: relative;
      width: 80%;
      @include variables.dcc(row);

      .back-button {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        transform: rotate(180deg);

        &:hover {
          cursor: pointer;
        }

        .img {
          width: 100%;
          height: 100%;
          @include variables.img();
        }
      }

      .logo {
        width: 250px;
        height: 80px;
        border: 2px solid red;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .bottom {
      position: relative;
      width: 80%;
      @include variables.dcc(row);

      .submit-button {
        padding: 10px;
        background-color: #62b2ab;
        border-radius: 50px;
        @include variables.dcc(row);

        &:hover {
          cursor: pointer;
        }

        .img {
          width: 40px;
          height: 40px;
          @include variables.img();
          transform: translateX(-5%);
          filter: brightness(0) saturate(100%) invert(97%) sepia(1%)
            saturate(202%) hue-rotate(35deg) brightness(117%) contrast(100%);
        }
      }

      .progress-container {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  #clientInfo {
    .left-img {
      display: none;
    }

    .right-container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  #clientInfo {
    .right-container {
      .top .back-button {
        width: 30px;
        height: 30px;
      }

      .bottom {
        justify-content: flex-end;
        .progress-container {
          position: relative;
          margin-left: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #clientInfo {
    .right-container {
      .top {
        justify-content: space-around;
        .logo {
          width: 200px;
          height: 50px;
        }

        .back-button {
          position: relative;
        }
      }

      .bottom {
        @include variables.dcc(column);
        .submit-button .img {
          width: 30px;
          height: 30px;
        }

        .progress-container {
          width: 200px;
          margin-top: 2rem;
          align-self: flex-end;
        }
      }
    }
  }
}
