@use '../../utils/variables.scss';

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: variables.$blue;
    @include variables.dxc(row);
 

    .bina-logo {
        width: 150px;
        height: 50px;
        border: 2px solid red;
        margin-left: 5rem;
    }

    .right {
        width: 80%;
        @include variables.dbc(row);
        margin-right: 5rem;

        .navigation {
            width: 60%;
            @include variables.dxc(row);
        }
    
        .navigation a {
            @include variables.links(variables.$white);
            position: relative;
            text-transform: uppercase;
            font-family: variables.$font;
            font-size: 16px;
            text-align: center;
            padding: 7px 20px;
        }
    
        .navigation a:nth-child(2) {
            border-left: 2px solid variables.$white;
            border-right: 2px solid variables.$white;
        }

        .link {
            width: 30%;
            @include variables.dac(row);
        }

    }

    .icon {
        position: absolute;
        right: 5rem;
        width: 30px;
        height: 30px;

        &:hover {
            cursor: pointer;
        }

        .img {
            @include variables.img();
            width: 100%;
            height: 100%;
        }

    }
    
}

@media only screen and (max-width: 1300px) {

    nav {

        .right {

            .navigation {
                width: 60%;
            }

            .link {
                width: 35%;
            }

        }

    }

}


@media only screen and (max-width: 1100px) {

    nav {
        @include variables.dcc(row);

        .bina-logo {
            margin: 0;
        }

        .right {
            display: none;
        }

        .show {
            position: fixed;
            z-index: 100;
            width: 50%;
            height: 100vh;
            top: 0;
            right: 0;
            margin: 0;
            background-color: variables.$blue;
            @include variables.dac(column);

            .icon {
                top: 2.5rem;
                transform: translateY(-50%);
            }

            .navigation, .link {
                width: 90%;
            }

            .navigation {
                @include variables.dbc(column);
                height: 20%;

                & a {
                    font-size: 18px;
                }

                & a:nth-child(2) {
                    border: none;
                }

            }
        }

    }

}


@media only screen and (max-width: 800px) {

    nav {

        .show {
            width: 75%;
        }

        .icon {
            right: 2rem;
        }

    }

}

@media only screen and (max-width: 400px) {

    nav {

        .show {
            width: 100%;
        }

        .icon {
            right: 1rem;
        }

    }

}
