@use "../../utils/variables.scss";

//Variant color styles
.home-nav-default-color {
  background-color: variables.$secondary-color;
  transition: all 0.3s ease;
}

.home-nav-variant-color {
  background-color: variables.$primary-color;
  transition: all 0.3s ease;
}

//Basic style
#home-nav {
  position: fixed;
  top: 0;
  @include variables.wh(100%, 5rem);
  @include variables.dxc(row);
  z-index: 99;

  .bina-logo {
    @include variables.wh(150px, 50px);
    @include variables.pointer();
    border: 2px solid red;
    margin-left: 5rem;
  }

  .right {
    width: 80%;
    @include variables.dbc(row);
    margin-right: 5rem;

    .navigation {
      width: 60%;
      @include variables.dxc(row);
    }

    .navigation a {
      position: relative;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      padding: 7px 20px;
      transition: all 0.3s ease;
    }

    .navigation-default-color a:hover {
      text-shadow: 0 0 0.02px variables.$primary-color,
        0 0 0.02px variables.$primary-color;
    }

    .navigation-default-color a:nth-child(2) {
      border-left: 2px solid variables.$primary-color;
      border-right: 2px solid variables.$primary-color;
    }

    .navigation-variant-color a:hover {
      text-shadow: 0 0 0.02px black, 0 0 0.02px black;
    }

    .navigation-variant-color a:nth-child(2) {
      border-left: 2px solid black;
      border-right: 2px solid black;
    }

    .link {
      width: 30%;
      @include variables.dac(row);

      div {
        transition: all 0.3s ease;
      }
    }

    .link-default-color {
      .icon-button-container {
        filter: brightness(0) saturate(100%) invert(92%) sepia(22%)
          saturate(153%) hue-rotate(354deg) brightness(99%) contrast(89%);
      }
    }
  }

  .icon {
    position: absolute;
    right: 5rem;
    transition: 0.3s ease;
  }

  .icon-default-color {
    filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(153%)
      hue-rotate(354deg) brightness(99%) contrast(89%);
  }
  .icon-variant-color {
    filter: brightness(0) saturate(100%);
  }
}

//Keyframmes
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

//Responsive
@media only screen and (max-width: 1300px) {
  #home-nav {
    .right {
      .navigation {
        width: 60%;
      }

      .link {
        width: 35%;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  #home-nav {
    @include variables.dcc(row);

    .bina-logo {
      margin: 0;
      z-index: 200;
    }

    .right {
      display: none;
    }

    .show {
      position: fixed;
      z-index: 100;
      @include variables.wh(50%, 100vh);
      @include variables.dac(column);
      top: 0;
      right: 0;
      margin: 0;
      transform: translateX(100%);
      transition: all 0.3s ease;

      .icon {
        top: 2.5rem;
        transform: translateY(-50%);
      }

      .navigation,
      .link {
        width: 90%;
      }

      .navigation {
        @include variables.dbc(column);
        height: 20%;

        & a {
          font-size: 18px;
        }

        & a:nth-child(2) {
          border: none;
        }
      }
    }

    .slide-in {
      animation: 0.7s slideIn;
      animation-play-state: ease-in;
      animation-fill-mode: forwards;
    }

    .slide-out {
      animation: 0.7s slideOut;
      animation-play-state: ease-in;
      animation-fill-mode: forwards;
    }
  }
}

@media only screen and (max-width: 800px) {
  #home-nav {
    .show {
      width: 75%;
    }

    .icon {
      right: 2rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  #home-nav {
    .show {
      width: 100%;
    }

    .icon {
      right: 1rem;
    }
  }
}
