@use "../../utils/variables.scss";

#skills {
  position: relative;
  @include variables.wh(100%, calc(80vh - 5rem));
  @include variables.dfp(row, flex-end, center);
  background-position: -100px 50%;
  .content {
    @include variables.wh(45%, 50%);
    @include variables.dfp(column, space-around, flex-start);
  }
}

@media only screen and (max-width: 1250px) {
  #skills {
    .content {
      width: 50%;
    }
  }
}
